
@media screen and (min-width:320px) and (max-width:767px) {
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-mobile {
        display: block;
    }
    .menu-container {
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
    }
    .nav__header {
        display: none;
    }
    .list_social__header {
        display: none;
    }
    .h1_text__main-button {
        font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
    }
    .main-button {
        background-position: center;
        background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero_tab_2x.jpg);
    }
    .soft {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .back-for-svg {
        width: 100%;
    }
    .soft li {
        width: 100%;
    }
    .about-soft-li {
        width: 100%;
    }
    .about-soft-li h3 {
        text-align: center;
    }
    .about-soft-li p {
        font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
    }
    .non-top-padding {
        display: none;
    }
    .photo-comand {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .comand-li {
        width: 100%;
    }
    .regular-customers {
        padding: 0;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .list-svg__regular-costumers {
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
    .li-svg__regular-costumers {
        max-width: 210px;
    }
    .link-svg__regular-costumers {
        width: 100%;
    }
    .wrap-footer {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .logo-address {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
        align-items: center;
        justify-content: center;
    }
    .address {
        text-align: center;
    }
    .footer-svg-social {
        margin-left: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }
    .wrap-form {
        margin-left: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-form button {
        margin-top: 20px;
    }
    .footer-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .label-footer {
        max-width: 100%;
    }
    .modal-form {
    height: 609px;
width: 90%;
        padding:40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .cont-form-label{
        width: 100%;
    }
    .modal-form h3 {
        margin-top: 40px;
        font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* or 150% */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
    }
    .label-input {
        width: 100%;
    }
    .comments-area {
       width: 100%;
    }
    .modal-form p {
        text-align: left;
    }
}