.accept-list {
    display: flex;
    align-items: center;
    margin-left: 13px;
    margin-top: 20px;
}
.link-accept {
    color: #2196F3;
   text-decoration: underline;
}
.accept-list p {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.yes-value {
 width: 16px;
 height: 15px;   
 margin-right: 7px;
}