.close-btn-icon {
    position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.modal-form h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 auto;
    margin-bottom: 12px;
}
.close-btn-icon:hover .cross-btn {
    fill: #2196F3;
}
.close-btn-icon:focus .cross-btn {
fill: #2196F3;
}
.cross-btn {
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea {
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
}